@import url(https://fonts.googleapies.com/css?family=Roboto);

body{
    background-color: #212121;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    padding: 0px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 2.7em;
    letter-spacing: 1.5px;
    font-size: 1em;
    outline: none;
    position: relative;
    font-size: 16px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 15px 0 15px 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}
.btn::before{
    content: '';
    position: absolute;
    right: -3px;
    width: 0;
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent #dd8c0b transparent transparent;
    z-index: 1;
}
.btn:hover,
.btn:hover{
    border-color: #dd8c0b;
}