@import url('https://fonts.googleapies.com/css?family=Montserrat:wgh@400;700;800&amp;display=swap');

::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    background-color: #ecf0f3;
    color: #a0a5a8;
}
.main{
    position: relative;
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    padding: 25px;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: #ecf0f3;
    transition: 1.25s;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form__icons{
    object-fit: contain;
    width: 30px;
    margin: 0  5px;
    opacity: 0.5;
    transition: 0.15s;
}
.form__icons:hover{
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;

}
.form__input{
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
.form__input:focus{
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}
.form__span{
    margin-top: 30px;
    margin-bottom: 12px;
}
.tille{
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
}
.button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
}
.a-container{
    z-index: 100%;
    left: calc(100% - 600px);
}