body{
    background: #111;
}
img{
    width: 100%;
}
.photo-gride-container{
    column-count: 5;
    column-width: 300px;
}
.photo-gride-item{
    margin: 0;
    max-width: 400px;
    width: 100%;
}